.main__cont{
    background-color: #F1EFEA;
    word-wrap: break-word;
    overflow-wrap: break-word;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  
}
.main__cont__box1
{
    width:60%;
    margin: 1vw;
}
.main__cont__box2
{
    width:30%;
    margin: 1vw;
    padding: 1vw;

}
.main__cont__box2__info
{   color:#ED6504;
    padding:1vw;
    background-color: white;
    width:17vw;
    margin-top:2vw;
}
.main__cont__box2__travel__info
{
    padding:1vw;
    background-color: white;
    width:17vw;
    margin-top:2vw;
    text-align: center;
    color:#27374c;
    background-color:#f7f7f7;
}
.main__cont__host__filter
{
    width:54vw;
    margin-left: 5vw;
    margin-top: 14vh;
    background-color: white;
    /* margin-top: 2vh; */
    color: #27374c;
}
.main__cont__host__filter__labels
{
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 margin: 3vh 1vh;
}
.main__cont__host__filter__labels > label{
    margin: 10px 25px;
    word-wrap: break-word;
   
}
.main__cont__host__filter__labels > label > input{
    padding: 3%;
    width:11vw;
}
.main__cont__host__filter__labels > label > select{
    width: 13vw;
    padding: 4% 3%;
}
.main__cont__host__filter__buttons
{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.main__cont__host__filter__buttons > button{
    padding:2% 1%;
    background-color: #287FB8;
    margin: 1vh 2vh ;
    color: white;
    border: 0;
    width:10vw;
}
.more__filters
{
    margin-top: 5vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #f9f9f9;
    height: 10vh;
    padding-right: 2vw;
    
}.more__filters >div:nth-child(1)
{
    cursor: pointer;
    color: #287FB8;
}
.main__cont__host__info
{
    width:55vw;
    margin-left: 4vw;
    margin-top: 2vh;
    background-color: #F1EFEA;
    
    display: flex;
    justify-content:center;
    /* align-items: center; */
    flex-wrap: wrap;
    
}
.main__cont__host__info> div
{
    margin: 1vh;
    width: 26vw;
    min-height: 48vh;
    background-color:white;
    border-radius: 5px;
    border-bottom: 1px solid grey;
}
.main__cont__host__info__person__imgInfo
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    

}
.main__cont__host__info__person__imgInfo img{
    width:110%;
    height: 90%;
}
.main__cont__host__info__person__imgInfo > div{
    margin: 1.5vh;
    width:40%;
}
.person__info >h4 {
 margin: 0;
 padding: 0;
}
.person__info > h6{
    margin-top: 4px;
    color:#929dad;
    
 padding: 0;
}
.person__info > p{
    padding: 5px;
    margin-top:-3vh;
    
    word-wrap: break-word;
    font-size: 13px;
}
.person__info__desc
{
    padding: 10px;
    word-wrap: break-word;
}
.main__cont__host__headers  span
{
    display: inline-block;
    margin: 1vh 2vh;
    cursor: pointer;
    padding: 1vh;
   
    
}
.main__cont__host__travel__headers
{
    border-bottom: 2px solid #ED6504;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    color:#ED6504;
    cursor: pointer;
}