@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

.App {
  font-family: "Lato", sans-serif;
  background-color: #f1efea;
  text-align: center;
  margin: 0;
  padding: 0;
}
