.loginPage__line {
  border-bottom: 1px solid gray;
  text-align: left;
  padding-bottom: 20px;
  font-size: 20px;
  color: #343638;
}

.loginPage__signUp {
  display: flex;
  margin-left: 300px;
  margin-top: 150px;
  /* justify-content: space-between; */
}

.loginPage__form {
  position: relative;
  background-color: white;
  width: 30%;
  margin: 20px auto;
  padding: 10px 50px;
  border-radius: 5px;
}

.loginPage__input {
  padding: 10px;
  width: 300px;
  border: 1px solid rgb(209, 208, 208);
}

.loginPage__rem {
  font-size: 15px;
  color: gray;
  margin: 10px -20px 0px 10px;
}
.loginPage__forgot {
  font-size: 15px;
  color: rgb(8, 95, 177);
  margin: 0px 60px 0px 60px;
}
.loginPage__check {
  margin: 10px -10px 20px 10px;
}

.loginPage__login {
  background-color: rgb(45, 133, 187);
  color: white;
  border: none;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
}

.loginPage__fb {
  background-color: rgb(70, 77, 173);
  color: white;
  border: none;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
}

.loginPage__join {
  padding: 10px 40px;
  border: 1px solid rgb(45, 133, 187);
  border-radius: 5px;
  background-color: white;
  color: rgb(45, 133, 187);
  font-size: 15px;
  font-weight: bold;
}
