.SignUpFaster__background {
    background-color: white;
    /* width: fit-content; */
    padding: 60px 50px 80px 50px;
    border-radius: 5px;
    /* margin-left: 200px; */
    height: 150px;
    margin-right: 50px;
    margin-top: 100px;
    /* position: relative; */
  }
  .SignUpFaster__line1 {
    margin-bottom: 50px;
  }
  
  .SignUpFaster__fb {
    width: 200px;
    text-decoration: none;
    background-color: #3b5998;
    color: white;
    padding: 10px 50px 10px 50px;
  }
  
  .SignUpFaster__line {
    color: #27374c;
    font-size: 14px;
    margin-top: 30px;
  }
  